<!DOCTYPE html>
<html>
  <head>
    <title>技术文档</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <header>
	<h3>亲爱的小伙伴们,最近学习了一个小的NodeJs的包,使用的是Markdown生成单页带索引的技术文档.</h3>
	<h3>于是乎,我做了些许改动,将其结合到Express 和 ejs 模板引擎中.</h3>
	<h5><a href="https://github.com/fengfulee/nodejs_ejs_tianshu">代码包</a></h5>
  </header>
  <article>
    <%- body %>
  </article>
  <footer>
	
  </footer>
</html>
